<div class="container" >
  <div class="jumbotron">

    <h2 align="center" class="titulo"><strong>Inicio</strong></h2>
    <hr>
    <div  align="center">

      <table  align="center" >
        <tr>
          </tr>
        <tr>
         </tr>
      </table>
    </div>
  </div>
</div>