<div class="container">
  <table >


    <tbody>
    <tr>
      <td><%= image_tag committee.logo.url()%></td>
      <td><h3><%= committee.nombre %></h3></td>



      <td><%= link_to 'Ver', committee,class:"btn btn-success btn-lg" %></td>
      </tr>
    </tbody>
  </table>

</div>