<h1>Nuevo Comité</h1>

<%= render 'form' %>

<center>
<div  class="btn-group" role="group" aria-label="...">
<%= link_to " Atras".html_safe,
            committees_path , class: 'btn btn-success btn-lg active'%>
</div>
</center>
