
<body>
<div class="container" >
  <div class="jumbotron">
<h2 align="center">Nuevo Comité</h2>
<p align="right"><%= link_to " Atras".html_safe,
                             committees_path , class: 'btn btn-success btn-lg active'%>
<%= render 'form' %>
</p></div></div>

  </body>