
<body>
<div class="container" >
  <div class="jumbotron">

<strong><h2 align="center">Publicación</h2></strong>
<p align="right"><%= link_to " Atras".html_safe,
                             activities_path , class: 'btn btn-success btn-lg active'%></p>


<%= render 'form' %>
  </div>
</div>
</body>