
<body>
<div class="container" >
  <div class="jumbotron">

    <h2 align="center" class="titulo"><strong>Publicaciones</strong></h2><p align="right"><%= link_to " Atras".html_safe,
                             activities_path , class: 'btn btn-success btn-lg active'%></p>


<%= render 'form' %>
  </div>
</div>
</body>