<body>

<div class="container">
  <div class="jumbotron">


<h2 align="center">Editar Participante</h2>
    <p align="right">  <%= link_to " Atras".html_safe,
                                   member_path , class: 'btn btn-success btn-lg active'%>
    </p>
<%= render 'form' %>


    <center>
      <div  class="btn-group" role="group" aria-label="...">
        <%= link_to "Ver Participante".html_safe,
                    @member , class: 'btn btn-success btn-lg active'%>
      </div>


    </center>
  </div></div>
</body>